h2 {
    color: #fff;
}

h3{
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.list {
    display: flex;
    gap: 5px;
    color: #0000ff;
}

.list li {
    margin-top: 5px;
    font-size: 1.2rem;
}