<div class="hero min-h-1 bg-cover bg-center bg-purple-700">
    <div class="container mx-auto px-4 py-24 flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold text-white mb-4" style="margin: 1.5em;">Application Developer <span [innerHtml]="laptop" ></span></h1>
        <p class="text-xl text-gray-300 mb-8"><span class="typing"></span></p>
        <p type="button" class="btn btn-primary" style="width: 75%; color: #fff">Enthusiastic and goal-driven Full-Stack Developer with a strong
            foundation in both back-end and front-end development. Proficient in C#, JavaScript frameworks like Angular,
            Entity Framework for data persistence, and building user-friendly web applications.</p>
    </div>
</div>