.typing {
    font-size: 1.5rem;
    color: greenyellow;
}

.title {
    margin: 1.5em;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}

@media screen and (max-width: 475px) {
    .title {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 375px) {
    .title {
        font-size: 1.2em;
    }

    .typing {
        font-size: 1rem;
        color: greenyellow;
    }

    p{
        font-size: 1em;
        word-break: break-all;
        text-align: justify;
    }
}
