@tailwind base;
@tailwind components;
@tailwind utilities;

h2{
    font-size: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

@media screen and (max-width: 475px) {
    h2{
        font-size: 2em;
    }
}